<!DOCTYPE html>
<html ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=" UTF-8
    " />
    <title>{% block title %}GENESIS{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        '@GenesisCoreBundle/Resources/views/Default/bootstrap/css/bootstrap.min.css'
        '@GenesisCoreBundle/Resources/views/Default/bootstrap/css/bootstrap-responsive.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }

            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
{% block top_navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">GENESIS</a>

                <div class="nav-collapse collapse">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p class="navbar-text pull-right">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    {% else %}
                        <p class="navbar-text pull-right">
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </p>
                    {% endif %}

                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock %}

    <div class="container-fluid">
        <div class="row-fluid">
            {% block sidebar_navbar %}
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Sidebar</li>
                            <li class="active"><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li class="nav-header">Sidebar</li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li class="nav-header">Sidebar</li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                    <!--/.well -->
                </div><!--/span-->
            {% endblock %}
            {% block content %}
                <div class="span9">
                    <div class="hero-unit">
                        <h1>Hello, world!</h1>

                        <p>This is a template for a simple marketing or informational website. It includes a large
                            callout called the hero unit and three supporting pieces of content. Use it as a starting
                            point to create something more unique.</p>

                        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <h2>Heading</h2>

                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        <!--/span-->
                        <div class="span4">
                            <h2>Heading</h2>

                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        <!--/span-->
                        <div class="span4">
                            <h2>Heading</h2>

                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row-fluid">
                        <div class="span4">
                            <h2>Heading</h2>

                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        <!--/span-->
                        <div class="span4">
                            <h2>Heading</h2>

                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        <!--/span-->
                        <div class="span4">
                            <h2>Heading</h2>

                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
                                porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                            <p><a class="btn" href="#">View details »</a></p>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                </div><!--/span-->
            {% endblock %}
        </div>
        <!--/row-->

        <hr>

        <footer>
            <p>
                Esta sistema é uma versão beta e usa
                <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/br/" rel="license">
                    Licença Creative Commons
                </a>.
            </p>
        </footer>

    </div>

{% block javascripts %}
    {% javascripts
    '@GenesisCoreBundle/Resources/views/Default/jquery/js/jquery-2.1.4.js'
    '@GenesisCoreBundle/Resources/views/Default/bootstrap/js/bootstrap.js'
    '@GenesisCoreBundle/Resources/views/Default/angular/js/angular.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% endblock %}
</body>
</html>
